 
    transform: scale(0);
    transition: height .2s ease;
}
.wrapper active-popup{
    transform: scale(1);
}
.wrapper .active {
    height: 520px;
}


}
.

.wrapper .form-box.Login {
    transition: transform .18s ease;
    transform: translateX(3);
}
.wrapper .form-active .form-box.Login {
    position: absolute;
    transform: translateX(-400px);
}

.wrapper .form-active .form-box.Register{
    position: absolute;
    transform: translateX(-400px)
}


}


.input-box input:focus {
   background: rgb(87, 86, 177);
}

}


}





